<header class="header">
    <div class="header-left">
        <div class="burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h1 class="title is-4">TECHO</h1>
    </div>

    <div class="header-right">
        <button id="btnUser" class="button"  style="background-color: #fbab4a; color: white; border: 1px solid #fbab4a;">
            <i class="fa-solid fa-user"></i>
        </button>
        <button id="logout-btn" class="button is-danger has-text-white">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
</header>
