<header class="header">
    <div class="header-left">
        <div class="burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h1 class="title is-4">TECHO</h1>
    </div>

    <div class="header-right">
        <button class="btn-user">
            <i class="fa-solid fa-user">Perfil</i>
        </button>
        <button class="btn-logout">
            <i class="fa-solid fa-xmark">Salir</i>
        </button>
    </div>
</header>
