<aside class="sidebar" id="sidebar">
    <a href="{% url 'home' %}" class="{% if request.path == '/' %}is-active{% endif %}">
        <span class="icon"><i class="fas fa-home"></i></span> Inicio
    </a>
    <a href="{% url 'project_index' %}" 
    class="{% if request.path == '/proyectos/' %}is-active{% endif %}">
        <span class="icon"><i class="fas fa-project-diagram"></i></span> Proyectos
    </a>
    <a href="{% url 'user_index' %}" class="{% if request.path == '/user/' %}is-active{% endif %}">
        <span class="icon"><i class="fas fa-user"></i></span> Usuarios
    </a>
</aside>
